
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}
 .container{
    height: 100vh;
    width: 100%;
  background: url(/gymphoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.menu{
    background: rgba(255, 255, 255, 0.2); 
    color: #fff;
    height: 11%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;
}
.menu .logo{
     font-weight: 700;
     font-size: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.logo li{
    list-style: none;
}
.logo li:last-child{
    color: orangered;
}
.list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.list li{
    padding-top: 10px;
    list-style: none;
    font-size: 10px;
    font-weight: 600;
}
.list li:first-child{
    color: orangered;
}
.button button{
border: none;
background: orangered;
height: 35px;
color: #fff;
width: 120%;
}
.body{
    color: #fff;
}
.body{
    height: 80%;
    width: 100%;
    display: flex;
justify-content: center;
    text-align: center;
    align-items: center;
}
.text p{
    font-size: 10px;
}
.text h2{
    color: orangered;
font-weight: 800;
    font-size: 40px;
    margin-top: 20px;
}
.text button{
    width: 25%;
    font-size: 10px;
    border: none;
    height: 30px;
    margin-top: 30px;
    color: orangered;
    background-color: #AFAFAF;
}